@media(min-width:768px){
    body {
        width: 64%;
        margin: 0 2% 0 34%;
    }
    div[class=toc] {
        position: fixed;
        top: 0;
        left: 0;
    
        height: 100%;
        overflow-y: auto;
    
        /* TODO:
        toc width fit-content & max-width, body width auto fit rest space
        seems not possible with pure CSS
        */
        width: 32%;
        min-width: unset;

        margin: 0;

        background-color: #FFFFFF;
    }
}
